.palletBoxVB {
    margin-top: 252px;
    z-index: 50;
    border-radius: 30px;
    width: 1157px;
    height: 440px;
    margin-bottom: 250px;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.23s ease;
}

.palletBoxVB.visible {
    transform: scale(1);
}

.palletBoxVB.hide {
    transform: scale(0);
}