.userBgDiv {
    border-radius: 40px;
}

.buttonHover:hover {
    filter: brightness(85%);
}

.followersDiv:hover {
    filter: brightness(75%);
}

.followersList {
    height: 400px;
}

.hrFollowers {
    width: 320px;
}

.closeFollowersList {
    font-variation-settings:'FILL' 1,'wght' 200,'GRAD' 0,'opsz' 24;
}

.system90 {
    width: 45px;
}

.searchFollowersIcon {
    top: 4px;
    margin-right: 160px;
}