.addButton {
    font-size: 30px;
    font-variation-settings: 'FILL' 0, 'wght' 350, 'GRAD' 0, 'opsz' 24;
}

.editButton {
    font-size: 26px;
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.closeButton {
    font-size: 25px;
    font-variation-settings: 'FILL' 0, 'wght' 250, 'GRAD' 0, 'opsz' 24;
}

.paList {
    margin-top: 70px;
}

.descriptionPaDescription, .updatePaButton {
    width: 264px;
}

.changeComPsDiv:hover .comCircle {
    background-color: #FF6600;
}

.comCircle {
    width: 35px;
    height: 35px;
}

.produtoAcabadoList, .registerProdutoAcabado {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.6));
}