.pieceTableDiv {
    width: 1157px;
    height: 439px;
    top: 180px;
    border-radius: 30px;
}

.inputPieceDescription {
    height: 32px;
}

.blurPieceTableBg {
    width: 1157px;
    height: 439px;
    top: 0px; 
    right: 0px;
    border-radius: 30px;
}