.estoqueDiv {
    width: 1157px;
    height: 439px;
    top: 180px;
    border-radius: 30px;
}

.estoqueDivVB {
    width: 1200px;
    height: 377px;
    top: 180px;
    border-radius: 30px;
}

.estoqueBg {
    width: 1195px;
    height: 555px;
    top: 85px;
    border-radius: 45px;
}

.estoqueBgVB {
    width: 1240px;
    height: 492px;
    top: 85px;
    border-radius: 45px;
}

.AbBoxDiv {
    height: 399px;
}

.title {
    margin-right: 1084px;
    margin-top: 106px;
}

.developedBy {
    top: 125px;
    margin-right: 1040px;
}

.texosLogo {
    top: 130px;
    margin-right: 855px;
}

.prateleira8 {
    margin-left: 587px;
    margin-top: 13px;
}

.prateleira9V {
    margin-top: 212px;
    margin-left: 4px;
}

.colarButton {
    margin-top: 120px;
    margin-left: 348px;
}

.colarButton:focus {
    outline: none;
    box-shadow: none;
}

.material-symbols-outlined {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.codeIcon {
    font-variation-settings:'FILL' 0,'wght' 300,'GRAD' 0,'opsz' 24;
    margin-right: 680px;
    margin-top: 115px;
}

.searchIcon {
    margin-right: 390px;
    margin-top: 115px;
}

.searchIconVB {
    margin-right: 469px;
    margin-top: 115px;
}

.menuDiv {
    margin-top: 104px;
}

.menuDivVB {
    width: 610px;
    margin-top: 104px;
}

.pieceIcon, .infoIcon {
    padding: 3px;
    font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;
}

.menuIcon, .menuIconVB {
    padding: 3px;
}

.menuIcon:hover, .menuIconVB:hover, .pieceIcon:hover, .localizarButton:hover, .infoIcon:hover {
    filter: brightness(85%);
}

.inputDescription {
    width: 430px;
    padding-right: 30px;
}

.clearDescription {
    margin-top: 112px;
    margin-left: 403px;
    font-size: 25px;
    font-variation-settings:'FILL' 1,'wght' 200,'GRAD' 0,'opsz' 24;
}

.clearDescriptionVB {
    margin-top: 112px;
    margin-left: 322px;
    font-size: 25px;
    font-variation-settings:'FILL' 1,'wght' 200,'GRAD' 0,'opsz' 24;
}

.resetButton {
    font-size: 20px;
    padding: 3px;
    font-variation-settings:'FILL' 0,'wght' 200,'GRAD' 0,'opsz' 24;
    top: 570px;
    margin-left: 530px;
}

.resetButton:hover {
    font-variation-settings:'FILL' 1,'wght' 200,'GRAD' 0,'opsz' 24;
}

.filtrarNecessidadesIcon {
    padding: 3px;
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 24;
    transition: transform 0.15s ease;
}

.modeDiv {
    width: 61px;
    top: 114.5px;
    margin-left: 1080px;
}

.modeDiv:hover .filtrarNecessidadesIcon {
    background-color: #FF6600;
}

.filtrarNecessidadesIcon.moved {
    transform: translateX(30px);
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8 {
    font-size: 13px;
    z-index: 20;
}

.p1 {
    top: 247px;
    margin-right: 780px;
    gap: 80px;
}

.p2 {
    top: 247px;
    margin-left: 508px;
    gap: 79.5px;
}

.p3 {
    top: 334px;
    margin-right: 695px;
    gap: 79.5px;
}

.p4 {
    top: 334px;
    margin-left: 328px;
    gap: 79.5px;
}

.p5 {
    top: 450px;
    margin-right: 695px;
    gap: 79.5px;
}

.p6 {
    top: 450px;
    margin-left: 329px;
    gap: 80px;
}

.p7 {
    top: 538px;
    margin-left: 4px;
}

.p8 {
    top: 336px;
    margin-left: 1019px;
}

.p8 p {
    margin-bottom: 68px;
}

.p7n2 {
    margin-left: 81px;
}

.p7n3, .p7n4, .p7n5, .p7n6,.p7n9  {
    margin-left: 79px;
}

.p7n7, .p7n8 {
    margin-left: 80px;
}

.p7n10 {
    margin-left: 77px;
}

.p7n11 {
    margin-left: 74px;
}

.p7n12 {
    margin-left: 76px;
}

.no-focus-outline:focus {
    outline: none;
}

.prateleira1, .prateleira1VB, .prateleira1VNumber, .prateleira2VNumber, .prateleira1VB2, .prateleira1VB3, .prateleira1VB4, .prateleira1VB1, .prateleira1VB22, .p7VBNumbers, .prateleira7VB, .prateleira7VB2, .prateleira7VB3,.prateleira2, .prateleira3vbnumbers2, .prateleira3, .prateleira4, .prateleira5, .prateleira6, .prateleiraSete, .prateleiraOito, .prateleira4vbnumbers {
    z-index: 20;
}

.prateleira1VNumber {
    top: 493px;
    right: 30px;
}

.prateleira2VNumber {
    top: 493px;
    right: 83px;
}


.extra {
    top: 300px;
    left: 300px;
}

.prateleira1, .prateleira2, .prateleira1V, .prateleira2V {
    top: 204px;
}

.prateleira3, .prateleira4 {
    top: 357px;
}

.prateleira1VB {
    right: 60px;
    bottom: 21px;
}

.prateleira1VB1 {
    right: 318px;
    bottom: 69px;
}

.prateleira1VB2 {
    right: 146px;
    bottom: 21px;
}

.prateleira1VB22 {
    right: 232px;
    bottom: 69px;
}

.prateleira1VB3 {
    right: 232px;
    bottom: 21px;
}

.prateleira1VB32 {
    right: 146px;
    bottom: 69px;
}

.prateleira1VB4 {
    right: 318px;
    bottom: 21px;
}

.prateleira7VB {
    right: -1px;
    top: 246px;
}

.prateleira7VB2 {
    right: -1px;
    top: 161px;
}

.prateleira7VB3 {
    right: -1px;
    top: 75px;
}

.prateleira4vbnumbers2 {
    z-index: 20;
    top: 247px;
    margin-right: 565px;
    gap: 77px;
}

.boxSozinho {
    left: 497px;
}

.p1VBNumbers {
    margin-right: 1286px;
}

.p7VBNumbers {
    margin-right: 1003px;
    margin-top: 274px;
}

.prateleira4vbnumbers3 {
    z-index: 20;
    top: 380px;
    margin-right: 729px;
    gap: 77px;
}

.prateleira2vbnumbers {
    z-index: 20;
    top: 466px;
    margin-right: 645px;
    gap: 77px;
}

.prateleira3vbnumbers2 {
    top: 340px;
    right: 169px;
}

.p5BoxNumber {
    right: 414px;
}

.prateleira4VB {
    top: 20px;
    left: 60px;
}

.prateleira5VB {
    top: 20px;
    left: 576px;
}

.p1BoxNumbers {
    z-index: 20;
    top: 465px;
    margin-left: 122px;
    gap: 78px;
}

.prateleira1 {
    right: 235px;
}

.prateleira1V {
    margin-top: 105px;
    margin-left: 557px;
}

.prateleira2 {
    right: 15px;
}

.prateleira2V {
    margin-top: 105px;
    left: 65px;
}

.prateleira3 {
    right: 148px;
}

.prateleira3VB {
    top: 155px;
    margin-left: 44px;
}

.prateleira4 {
    right: 104px;
}

.prateleira4vbnumbers {
    left: 30px;
    top: 205px;
}

.prateleira5 {
    top: 408px;
    right: 148px;
}

.prateleira6 {
    top: 408px;
    right: 104px;
}

.prateleiraSete {
    top: 561px;
    right: 525px;
}

.prateleiraOito {
    top: 265px;
    left: 532px;
}