.estoqueDiv {
    width: 1157px;
    height: 439px;
    top: 180px;
    border-radius: 30px;
}

.estoqueBg {
    width: 1195px;
    height: 555px;
    top: 85px;
    border-radius: 45px;
}

.AbBoxDiv {
    height: 399px;
}

.title {
    margin-right: 1084px;
    margin-top: 106px;
}

.prateleira8 {
    margin-left: 587px;
    margin-top: 13px;
}

.colarButton {
    margin-top: 120px;
    margin-left: 348px;
}

.colarButton:focus {
    outline: none;
    box-shadow: none;
}

.material-symbols-outlined {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.codeIcon {
    font-variation-settings:'FILL' 0,'wght' 300,'GRAD' 0,'opsz' 24;
    margin-right: 680px;
    margin-top: 115px;
}

.searchIcon {
    margin-right: 428px;
    margin-top: 115px;
}

.menuDiv {
    width: 653px;
    margin-top: 104px;
}

.pieceIcon {
    padding: 3px;
    font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;
}

.menuIcon {
    padding: 3px;
}

.menuIcon:hover, .pieceIcon:hover, .localizarButton:hover {
    filter: brightness(85%);
}

.inputDescription {
    width: 430px;
    padding-right: 30px;
}

.clearDescription {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 120px;
    margin-left: 347px;
    font-size: 18px;
    font-variation-settings:'FILL' 1,'wght' 800,'GRAD' 0,'opsz' 24;
}

.resetButton {
    font-size: 20px;
    padding: 3px;
    font-variation-settings:'FILL' 0,'wght' 200,'GRAD' 0,'opsz' 24;
    top: 570px;
    margin-left: 530px;
}

.resetButton:hover {
    font-variation-settings:'FILL' 1,'wght' 200,'GRAD' 0,'opsz' 24;
}

.filtrarNecessidadesIcon {
    padding: 3px;
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 24;
    transition: transform 0.15s ease;
}

.modeDiv {
    width: 61px;
    top: 114.5px;
    margin-left: 1080px;
}

.modeDiv:hover .filtrarNecessidadesIcon {
    background-color: #FF6600;
}

.filtrarNecessidadesIcon.moved {
    transform: translateX(30px);
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8 {
    font-size: 13px;
    z-index: 20;
}

.p1 {
    top: 247px;
    margin-right: 780px;
    gap: 80px;
}

.p2 {
    top: 247px;
    margin-left: 508px;
    gap: 79.5px;
}

.p3 {
    top: 334px;
    margin-right: 695px;
    gap: 79.5px;
}

.p4 {
    top: 334px;
    margin-left: 328px;
    gap: 79.5px;
}

.p5 {
    top: 450px;
    margin-right: 695px;
    gap: 79.5px;
}

.p6 {
    top: 450px;
    margin-left: 329px;
    gap: 80px;
}

.p7 {
    top: 538px;
    margin-left: 4px;
}

.p8 {
    top: 336px;
    margin-left: 1019px;
}

.p8 p {
    margin-bottom: 68px;
}

.p7n2 {
    margin-left: 81px;
}

.p7n3, .p7n4, .p7n5, .p7n6,.p7n9  {
    margin-left: 79px;
}

.p7n7, .p7n8 {
    margin-left: 80px;
}

.p7n10 {
    margin-left: 77px;
}

.p7n11 {
    margin-left: 74px;
}

.p7n12 {
    margin-left: 76px;
}

.no-focus-outline:focus {
    outline: none;
}