.progGalvaTableDiv {
    width: 1150px;
}

.filtrarDiv {
    top: 54px;
    left: 7px;
    width: 215px;
}

.prioridadeInput {
    width: 88px;
}

.updateProgGalvaInput {
    width: 314px;
}

.desciptionCreateProgGalvaInput {
    width: 410px;
}

.blur-sm {
    filter: blur(7px);
    transition: filter 0.25s ease;
}

.arrowIcon {
    font-variation-settings:'FILL' 0,'wght' 300,'GRAD' 0,'opsz' 24;
}

.progGalvaIcon {
    font-size: 30px;
    font-variation-settings:'FILL' 0,'wght' 100,'GRAD' 0,'opsz' 24;
}

.filterGalvaButton {
    font-size: 26px;
    font-variation-settings:'FILL' 1,'wght' 100,'GRAD' 0,'opsz' 24;
}

.addGalvaButton {
    font-size: 33px;
    font-variation-settings:'FILL' 0,'wght' 250,'GRAD' 0,'opsz' 24;
}

.closeUpdateProg {
    font-size: 25px;
    font-variation-settings:'FILL' 1,'wght' 200,'GRAD' 0,'opsz' 24;
}

.clearCreateProgGalvaInput {
    font-size: 25px;
    font-variation-settings:'FILL' 1,'wght' 200,'GRAD' 0,'opsz' 24;
    right: -2px;
    border-radius: 6px;
}

.slide-left {
    animation: slideLeft 0.25s linear;
}

.slide-right {
    animation: slideRight 0.25s linear;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}