.ProgGalvaDiv {
    top: 180px;
    width: 1157px;
    height: 439px;
    border-radius: 30px;
}

.closeProgGalvaDiv {
    font-size: 25px;
    font-variation-settings:'FILL' 1,'wght' 200,'GRAD' 0,'opsz' 24;
}

.progGalvaEstoqueIcon {
    font-size: 25px;
    font-variation-settings:'FILL' 0,'wght' 200,'GRAD' 0,'opsz' 24;
}

.arrowIcon {
    font-size: 25px;
    font-variation-settings:'FILL' 0,'wght' 300,'GRAD' 0,'opsz' 24;
}