.divPrincipal {
    border-radius: 40px;
    width: 1195px;
    height: 555px;
}

.developedBy {
    margin-top: 700px;
    padding-bottom: 70px;
}

.menu {
    margin-top: 20px;
    width: 805px;
    height: 55px;
}

.codeDescription {
    width: 123px;
}

.estoqueBackground {
    border-radius: 25px;
    width: 1150px;
    height: 435px;
    margin-top: 95px;
}

.boxDiv {
    width: 87px;
    border-radius: 10px;
}

.number1, .number2 {
    border-radius: 6px;
    padding: 3px;
}

.number1 {
    padding-left: 12px;
    padding-right: 13px;
}

.number2 {
    padding-left: 11.5px;
    padding-right: 11.5px;
}

.trilhoDiv {
    width: 105px;
}